// Small tablets and large smartphones 
$screen-sm-min: 576px;
// Small tablets (portrait view)
$screen-md-min: 768px;
// Tablets and small desktops
$screen-lg-min: 992px;
// Large tablets and desktops
$screen-xl-min: 1200px;
// X-large
$screen-xxl-min: 1400px;

$color-primary:#232224;
$color-secondary: aliceblue;
$color-black:#0d0d0e;
$color-white: #fff;
$color-btn: #fffffffb;
$color-tertiary:#0001;
$color-card-text: #666;
$color-card-footer:#333;
$color-testimonio:#f7efcf;
$color-modal:#343a40

