
$color-primary:#232224;
$color-secondary: aliceblue;
$color-white: #fff;
$color-btn: #BB9AB1;
$color-tertiary:#0001;
$color-card-text: #666;
$color-card-footer:#333;
$color-testimonio:#f7efcf;

$card-width: 30rem;
$card-padding: 1rem;
$card-margin-bottom: 1.5rem;
$image-width: 12rem; // Adjust as needed
$base-font-size: 1rem; // Assuming base font-size is 16px
$card-background:$color-white ;
$card-border-radius: 0.5rem;
$card-box-shadow: 0 2px 4px $color-tertiary;
$card-title-font-size: 1.25rem;
$card-title-font-weight: bold;
$card-footer-margin-top: 1rem;
$icon-margin-right: 0.5rem;
$location-text-font-weight: bold;
$price-font-size: 1.25rem;
$price-font-weight: bold;